[submodule "vendor/vim-plus"]
	path = vendor/vim-plus
	url = git@github.com:junegunn/vim-plug.git
[submodule "vendor/k-vim"]
	path = vendor/k-vim
	url = git@github.com:wklken/k-vim.git
[submodule "vendor/bash-it"]
	path = vendor/bash-it
	url = https://github.com/Bash-it/bash-it
[submodule "vendor/mathiasbynens-dotfiles"]
	path = vendor/mathiasbynens-dotfiles
	url = https://github.com/mathiasbynens/dotfiles
[submodule "vendor/dictionaries"]
	path = vendor/dictionaries
	url = https://github.com/rime-aca/dictionaries
