[submodule "vendor/vim-plus"]
	path = vendor/vim-plus
	url = git@github.com:junegunn/vim-plug.git
[submodule "vendor/k-vim"]
	path = vendor/k-vim
	url = git@github.com:wklken/k-vim.git
[submodule "vendor/bash-it"]
	path = vendor/bash-it
url=git@github.com:Bash-it/bash-it.git
[submodule "vendor/mathiasbynens-dotfiles"]
	path = vendor/mathiasbynens-dotfiles
	url = git@github.com:mathiasbynens/dotfiles.git
[submodule "vendor/dictionaries"]
	path = vendor/dictionaries
	url = git@github.com:rime-aca/dictionaries.git
