# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

node_modules/*
*.log
.DS_Store

nvim/plugin

*.swp

# for telescope to ignore the dir
.git

.config/zsh/extra
.config/antigen.zsh
.config/lazygit/state.yml
.config/AWSVPNClient

.config/wireshark
.config/helm
.config/karabiner/automatic_backups
.config/nvim/plugin
.config/raycast/extensions
.config/raycast/config.json
.config/ngrok
.config/gcloud
.config/composer/.htaccess

*.zwc
.config/fish/fish_variables
.config/configstore/update-notifier-npm.json
.config/nvim/lazy-lock.json
.config/github-copilot
.config/VirtualBox
.config/ibus/bus
.config/pulse
.config/vlc
.config/microsoft-edge
.config/systemd/user/gnome-session.target.wants
.config/kitty/kitty.d/local.conf
.config/btop/btop.conf
